 @model IEnumerable<Pharmacy> 
@section Style{
 <link href="~/themes/css files/hospitals.css" rel="stylesheet" />          
  }
      <section class="content">
        <div class="container">
          <div class="sec-head">
            <h2>pharmacies</h2>
            <p>
              Pharmacies are retail stores that sell medicines, pharmaceutical products,
              and other medical products to the public. 
              Pharmacies are considered important centers for healthcare in society, 
              where people can obtain the medicines, pharmaceutical products, and other health products they need to improve 
              their health and treat illnesses
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
        <div class="sec-body">
            <!-- start box -->
            @foreach (var item in Model)
            {
                <article class="box">
                    <div class="avatar">
                        <img src="~/Themes/Data/Images/pharmacy-image.jpg"
                         alt="pharmacy-image" />
                    </div>
                    <div class="data">
                        <section class="head">
                            <a asp-action="details" asp-controller="pharmacies" asp-route-id="@item.Id" > @item.Name</a>
                            <span></span>
                            <p>

                            </p>
                        </section>
                        <section class="info">
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-location-dot"></i>
                                </div>
                                <span>@item.Address</span>
                            </div>
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-phone"></i>
                                </div>
                                <span>@item.MobileNumber</span>
                            </div>
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-envelope"></i>
                                </div>
                                <span class="mail">@item.Email</span>
                            </div>
                        </section>
                        <section class="contact">
                            <div>
                                <a href="https://www.facebook.com/">
                                    <i class="f-icon fa-brands fa-facebook-f"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.twitter.com/">
                                    <i class="f-icon fa-brands fa-twitter"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://maps.google.com/">
                                    <i class="f-icon fa-solid fa-location-dot"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://wa.me/552196312XXXX">
                                    <i class="f-icon fa-brands fa-whatsapp"></i>
                                </a>
                            </div>
                            <div>
                                <a href="tel:+18475555555">
                                    <i class="f-icon fa-solid fa-phone"></i>
                                </a>
                            </div>
                        </section>
                    </div>
                </article>
            }
            <!-- end box -->
            <!-- start box -->
            @*  <article class="box">
            <div class="avatar">
            <img
            src="~/themes/Data/Images/IMG_20221204_221524_882.jpg"
            alt="hospital-image"
            />
            </div>
            <div class="data">
            <section class="head">
            <h3>mohamed farag</h3>
            <span>full stack developer</span>
            <p>
            lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maiores et reiciendis voluptatum, amet est natus quaerat
            ducimus
            </p>
            </section>
            <section class="info">
            <div class="field">
            <div class="icon">
            <i class="f-icon fa-solid fa-location-dot"></i>
            </div>
            <span>Sit Molestiae Vitae Nam.</span>
            </div>
            <div class="field">
            <div class="icon">
            <i class="f-icon fa-solid fa-phone"></i>
            </div>
            <span>+12353245</span>
            </div>
            <div class="field">
            <div class="icon">
            <i class="f-icon fa-solid fa-envelope"></i>
            </div>
            <span class="mail">monsfd@gmail.com</span>
            </div>
            </section>
            <section class="contact">
            <div>
            <a href="https://www.facebook.com/">
            <i class="f-icon fa-brands fa-facebook-f"></i>
            </a>
            </div>
            <div>
            <a href="https://www.twitter.com/">
            <i class="f-icon fa-brands fa-twitter"></i>
            </a>
            </div>
            <div>
            <a href="https://maps.google.com/">
            <i class="f-icon fa-solid fa-location-dot"></i>
            </a>
            </div>
            <div>
            <a href="https://wa.me/552196312XXXX">
            <i class="f-icon fa-brands fa-whatsapp"></i>
            </a>
            </div>
            <div>
            <a href="tel:+18475555555">
            <i class="f-icon fa-solid fa-phone"></i>
            </a>
            </div>
            </section>
            </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
            <div class="avatar">
            <img
            src="~/themes/Data/Images/IMG_20221204_221524_882.jpg"
            alt="hospital-image"
            />
            </div>
            <div class="data">
            <section class="head">
            <h3>mohamed farag</h3>
            <span>full stack developer</span>
            <p>
            lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maiores et reiciendis voluptatum, amet est natus quaerat
            ducimus
            </p>
            </section>
            <section class="info">
            <div class="field">
            <div class="icon">
            <i class="f-icon fa-solid fa-location-dot"></i>
            </div>
            <span>Sit Molestiae Vitae Nam.</span>
            </div>
            <div class="field">
            <div class="icon">
            <i class="f-icon fa-solid fa-phone"></i>
            </div>
            <span>+12353245</span>
            </div>
            <div class="field">
            <div class="icon">
            <i class="f-icon fa-solid fa-envelope"></i>
            </div>
            <span class="mail">monsfd@gmail.com</span>
            </div>
            </section>
            <section class="contact">
            <div>
            <a href="https://www.facebook.com/">
            <i class="f-icon fa-brands fa-facebook-f"></i>
            </a>
            </div>
            <div>
            <a href="https://www.twitter.com/">
            <i class="f-icon fa-brands fa-twitter"></i>
            </a>
            </div>
            <div>
            <a href="https://maps.google.com/">
            <i class="f-icon fa-solid fa-location-dot"></i>
            </a>
            </div>
            <div>
            <a href="https://wa.me/552196312XXXX">
            <i class="f-icon fa-brands fa-whatsapp"></i>
            </a>
            </div>
            <div>
            <a href="tel:+18475555555">
            <i class="f-icon fa-solid fa-phone"></i>
            </a>
            </div>
            </section>
            </div>
            </article>
            <!-- end box -->*@
        </div>
          <div class="sec-foot">
            <input type="button" id="more" value="see more" />
          </div>
        </div>
      </section>

@section Script{
              <script src="~/themes/js Files/pharmacies.js"></script>
  }