@model List<AttendanceViewModel>
@{
    Layout = "layout-static";
    ViewData["Title"] = "Attendance";
    int num = 1;
}
<div class="container p-3 ">
    <div class="row pt-4">

        <div >
            <h2 class="text-primary " style="font-weight:bold ;">Edit Attendance @ViewBag.SessionName Session </h2>
        </div>
        <br />
        <br />
        <br />
    </div>
    <form method="post">
        <table class="table table-hover  " style="width:100% ">
            <thead>
                <tr>
                    <th scope="col"> Num </th>
                    <th scope="col"> FristName </th>
                    <th scope="col"> LastName</th>
                    <th scope="col">  Email </th>
                    <th scope="col">  Date </th>
                    <th class="text-end"> Is Attendant </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="table-info">
                        <td width="10%">
                            @num
                        </td>
                        <td width="10%">
                            @Model[@i].FirstName
                        </td>
                        <td width="10%">
                            @Model[@i].LastName
                        </td>
                        <td width="10%">
                            @Model[@i].Email
                        </td>
                        <td width="25%">
                            @Model[@i].CreatedAt.DayOfWeek.ToString() &nbsp @Model[@i].CreatedAt
                        </td>
                        @*SessionId And StudentId*@
                        <input type="hidden" asp-for="@Model[i].StudentId" />
                        <input type="hidden" asp-for="@Model[i].Id"/>
                        <input type="hidden" asp-for="@Model[i].SessionId" />
                        <input type="hidden" asp-for="@Model[i].CreatedAt" />
                        <td class="text-end">
                            <input type="checkbox" asp-for="@Model[@i].IsAttendant" />
                            &nbsp;&nbsp;
                             <a asp-controller="Admin" asp-action="deleteAttendance"asp-route-id="@Model[i].Id" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash3 text-end"></i>
                            </a>
                        </td>
                      @* <td class="text-end">
                           
                       </td>*@
                           
                    </tr>
                    num++;
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-success" style="width:150px">Save</button>
       @* <button asp-controller="admin" asp-action="AttendenceEditing" class="btn btn-danger m-4" style="width:150px">Reset</button>*@
    </form>
</div>
