@model List<ApplicationUser>
@{
    ViewData["Title"]="Students";
    Layout = "layout-static";
}

<div class="container p-3 ">
    <div class="row pt-4">

        <div class="col-6">
            <h2 class ="text-primary " style="font-weight:bold ">List Of Students </h2>
        </div>
        <br />
        <br />
        <br />
    </div>
    <table class="table table-hover  " style="width:100% ">
        <thead>
            <tr>
                 <th scope="col"> Frist Name </th>
                <th scope="col"> Last Name</th>
                <th scope="col"> Email</th>
                <th scope="col"> Course </th>
                <th scope="col" class="text-end"> Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-info">
                    <td width="10%">
                        @item.FirstName
                    </td>
                    <td width="10%">
                        @item.LastName
                    </td>
                    <td width="10%">
                        @item.Email
                    </td>
                    <td width="20%">
                        @item.Course.Title
                    </td>
                    <td class="text-end">

                        <a asp-controller="Course" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">
                            <i class="bi bi-pencil text-end"></i>>
                        </a>
                        &nbsp;
                        <a asp-controller="Course" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash3 text-end"></i>
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>