 @model IEnumerable<Doctor>
@{
    Layout = "_Layout";
} 
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/doctors.css" />
}
        <section class="content">
            <div class="container">
                <div class="sec-head">
                    <h2>doctors</h2>
                    <p>
                       Specialized doctors in the treatment of cancer are the individuals who possess the necessary experience
                       and skills to diagnose the disease and determine the best treatment options for patients affected by it.
                       Doctors who treat cancer vary in their specialties, some specialize in treating specific types of cancer
                       such as breast or lung cancer, while others treat cancer in general
                    </p>
                    <div class="head-shape">
                        <span></span>
                    </div>
                </div>
                <div class="sec-body">
                    <!-- start box -->
            @foreach( var item in Model)
            {
                <article class="box">
                    <div class="card-top">
                        <div class="images">
                            <img src="~/Themes/Data/Images/IMG_20221204_221415_525.jpg"
                             alt="doctor-image" />
                        </div>
                        <div class="text">
                            <h2>@item.Name</h2>
                            <span>@item.Specialty</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="mt-3">
                            Specialized doctors in the treatment of cancer are the individuals who possess the necessary experience
                            and skills to diagnose the disease
                        </p>
                    </div>
                    <div class="data">
                        <div class="contact-info">
                            <h2>contact info</h2>
                            <div class="box">
                                <div class="icon-div">
                                    <i class="f-icon fa-solid fa-location-dot"></i>
                                </div>
                                <span>
                                   @item.Address
                                </span>
                            </div>
                            <div class="box">
                                <div class="icon-div">
                                    <i class="f-icon fa-solid fa-envelope"></i>
                                </div>
                                <span class="mail">@item.Email</span>
                            </div>
                            <div class="box">
                                <div class="icon-div">
                                    <i class="f-icon fa-solid fa-phone"></i>
                                </div>
                                <span>@item.MobileNumber</span>
                            </div>
                        </div>
                        <div class="social-icon">
                            <h2>contact links</h2>
                            <div>
                                <div title="Facebook Page">
                                    <a href="https://www.facebook.com/">
                                        <i class="f-icon fa-brands fa-facebook-f"></i>
                                    </a>
                                </div>
                                <div title="Instagram Page">
                                    <a href="https://www.instagram.com/">
                                        <i class="f-icon fa-brands fa-instagram"></i>
                                    </a>
                                </div>
                                <div title="Twitter Account">
                                    <a href="https://www.twitter.com/">
                                        <i class="f-icon fa-brands fa-twitter"></i>
                                    </a>
                                </div>
                                <div title="Mail">
                                    <a href="mailto:@@leo@@gmail.com">
                                        <i class="f-icon fa-solid fa-envelope"></i>
                                    </a>
                                </div>
                                <div title="Whatsapp">
                                    <a href="https://wa.me/552196312XXXX">
                                        <i class="f-icon fa-brands fa-whatsapp"></i>
                                    </a>
                                </div>
                                <div title="Phone Number">
                                    <a href="tel:+18475555555">
                                        <i class="f-icon fa-solid fa-phone"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            }
         
                </div>
                <div class="sec-foot">
                    <input type="button" id="more" value="see more" />
                </div>
            </div>
        </section>
<script src="~/Themes/JS Files/doctors.js"></script>
   