
@model EditProfile

@{
    ViewData["Title"] = "view profile";
    Layout = "layout-static";
}
<head>
    <link href="~/Themes/css/Viewprofile.css" rel="stylesheet" />
</head>
    <style >
    .input-icons i {
        position: absolute;
    }
</style>
 <form method="post" enctype="multipart/form-data">
<div class="container rounded bg-white mt-5 mb-5">

    <div class="row" style="padding:60px">

            @if (Model.ImageSrc != string.Empty)
            {
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center">
                        <img class="rounded-circle mt-3" id="myImg" src="@Model.ImageSrc" width="150">
                        <div class="input-icons" style="padding:10px">
                            <i class="fa fa-2x fa-camera" style="cursor:pointer"></i>
                            <input type="file" style="opacity:0;width:35px" class="input-field" asp-for="ClientFile" data-bs-toggle="tooltip" data-bs-placement="top" title="edit image" onchange="laodFile(event)" />
                           
                       </div>
                       
                        <span class="font-weight-bold">@User.Identity.Name</span>
                        <span class="text-black-50">@Model.Email</span><span> </span>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img class="rounded-circle mt-3" id="myImg" src="~/Themes/assets/img/profile.jpg" width="150">
                        <input type="file" asp-for="ClientFile" onchange="laodFile(event)" />
                        <span class="font-weight-bold">@User.Identity.Name</span>
                        <span class="text-black-50">@Model.Email</span><span> </span>
                    </div>
                </div>
            }
            <div class="col-md-5 border-right">
                                   <div class="row">
                                     <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" asp-for="FirstName" class="form-control form-control-lg" placeholder="FristName" />
                                              <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                     </div>
                                     <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                             <input type="text" asp-for="LastName" class="form-control form-control-lg" placeholder="LastName" />
                                              <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <input type="text" asp-for="Email" class="form-control form-control-lg" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <input type="password" asp-for="oldPassword" class="form-control form-control-lg" placeholder="Old Password" />
                                            <span asp-validation-for="oldPassword" class="text-danger"></span>
                                  </div>
                                   
                                  <div class="form-outline mb-4">
                                    <input type="password" asp-for="NewPassword" class="form-control form-control-lg" placeholder="New Password" />
                                      <span asp-validation-for="NewPassword" class="text-danger"></span>
                                  </div>
                                  
                                  <div class="form-outline mb-4">
                                        <input type="text" asp-for="Phone" class="form-control form-control-lg" placeholder="Phone Number" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                   </div>
                                      
                                <div class="d-flex justify-content-end pt-5">
                                    <button type="reset" class="btn btn-secondary btn-lg" >Reset</button>
                                    <button type="submit" class="btn btn-warning btn-lg ms-2">Save</button>
                                </div>
                        
        </div>
     
     </div>
    
</div>
</form>
<script>
    var laodFile=function(event){
        var reader=new FileReader();
        reader.onload=function(){
            var myImg=document.getElementById('myImg');
            myImg.src=reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}