
@model IEnumerable<DomainLayer.Models.Awareness>
@{
    ViewData["Title"] = "Blogs";
    Layout = "dashboard";
    int num = 1;
}
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/dashboard_control (1).css" />
}

<section class="content">
<div class="blog">
    <div class="sec-head">
        <h2>blog</h2>
    </div>
    <div class="sec-body">
        <article class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-action="Blog" asp-controller="Admin">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of Blogs</h3>
                <span>@Model.Count()</span>
            </div>
        </article>
        <article class="control">
            <div class="table">
                <div class="tab-head">
                    <span>no.</span>
                    <span>name</span>
                    <span>Date</span>
                    <span>actions</span>
                </div>
                <div class="tab-body">

                    @foreach (var item in Model)
                    {

                        <!-- Start Item -->
                        <div class="item">
                                <div class="hidden">
                                    <span id="tittle">@item.Title</span>
                                    <span id="category">@item.Category</span>
                                    <span id="auther">@item.Author</span>
                                    <span id="videoLink">@item.Videos</span>
                                    <span id="imgSrc">
                                        ../../Data/Images/contact-background-image.jpg
                                    </span>
                                    <span id="articleBody">
                                       @item.Data
                                    </span>
                                    <span id="likes">100</span>
                                    <span id="saves">20</span>
                                </div>
                                
                            <span>@num</span>
                            <span>@item.Title</span>
                            <span>@item.PublishedDate.ToShortDateString()</span>
                            <span>
                                <a asp-action="editblog" asp-controller="admin" asp-route-id="@item.Id"  class="edit">
                                    <i class="f-icon fa-solid fa-pencil"></i>
                                    <!-- edit -->
                                </a>
                                <a class="seeMore">
                                    <i class="f-icon fa-solid fa-eye"></i>
                                    <!-- see more -->
                                </a>
                                <a asp-action="deleteblog" asp-controller="admin" asp-route-id="@item.Id">
                                    <i class="f-icon fa-solid fa-trash-can"></i>
                                    <!-- remove -->
                                </a>
                            </span>

                        </div>


                        num += 1;
                        <!-- End Item -->
                    }

                </div>
            </div>
        </article>
    </div>
</div>
</section>
<div class="pop-up">
    <div class="overlay"></div>
    <div class="data">
        <button class="cancel" id="cancel">
            <i class="f-icon fa-solid fa-xmark"></i>
            <!-- <i class="f-icon fa-solid fa-arrow-left"></i> -->
            <!-- <i class="fa-solid fa-left-long"></i> -->
            <!-- <i class="fa-solid fa-chevron-left"></i> -->
        </button>
        <div class="felids">
            <!-- start box -->
            <article class="box">
                <div class="field">
                    <div class="left-sec">
                        <!-- start box -->
                        <article class="box">
                            <label for="field">title:</label>
                            <div class="field" id="field">
                                <span id="titleField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">category:</label>
                            <div class="field" id="field">
                                <span id="categoryField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">author:</label>
                            <div class="field" id="field">
                                <span id="authorField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                    </div>
                    <div class="right-sec">
                        <label for="field">image:</label>
                        <div class="image" id="field">
                            <img id="imgSrcField" />
                        </div>
                    </div>
                </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
                <label for="field">video link:</label>
                <div class="field" id="field">
                    <span id="videoLinkField"></span>
                </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
                <label for="field">article body:</label>
                <div class="field" id="field">
                    <span class="info" id="bodyField"></span>
                </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
                <div class="field">
                    <div class="left-sec">
                        <label for="field">likes:</label>
                        <div class="field" id="field">
                            <span id="likesField"></span>
                        </div>
                    </div>
                    <div class="right-sec">
                        <label for="field">saves:</label>
                        <div class="field" id="field">
                            <span id="savesField"></span>
                        </div>
                    </div>
                </div>
            </article>
            <!-- end box -->
        </div>
    </div>
</div>
<script src="~/Themes/JS Files/blog-dash.js"></script>
