@model IEnumerable<Doctor>
@{
    ViewData["Title"] = "Doctor";
    Layout = "dashboard";
    int num = 1;
}
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/dashboard_control (1).css" />
}
<section class="content">
<div class="doctors">
    <div class="sec-head">
        <h2>doctors</h2>
    </div>
    <div class="sec-body">
        <article class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-controller="Admin" asp-action="Doctor">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of item</h3>
                <span>@Model.Count()</span>
            </div>
        </article>
        <article class="control">
            <div class="table">
                <div class="tab-head">
                    <span>no.</span>
                    <span>name</span>
                    <span>Date</span>
                    <span>actions</span>
                </div>
                <div class="tab-body">
                    @foreach (var item in Model)
                    {
                      
                        <!-- Start Item -->
                        <div class="item">
                                <div class="hidden">
                                    <span id="name">@item.Name</span>
                                    <span id="specialty">@item.Specialty</span>
                                    <span id="location">@item.Address</span>
                                    <span id="mail">@item.Email</span>
                                    <span id="phoneNumber">@item.MobileNumber</span>
                                    <span id="imgSrc">
                                       @item.Image
                                    </span>
                                    <span id="info">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing
                                        elit. Minima optio repellendus perferendis, laboriosam
                                        rerum sunt iure vitae minus nihil voluptates, accusamus
                                        incidunt aut quo ipsa sit odit non, necessitatibus
                                        tempore.
                                    </span>
                                    <span id="facebookLink">doctor facebook link1</span>
                                    <span id="instagramLink">doctor instagram link1</span>
                                    <span id="twitterLink">doctor twitter link1</span>
                                    <span id="mailLink">doctor mail address link1</span>
                                    <span id="whatsappLink">doctor whatsapp link1</span>
                                    <span id="phoneNumberLink">
                                        doctor phone number link1
                                    </span>
                                </div>
                            <span>@num</span>
                            <span>@item.Name</span>
                            <span>@item.CreatedAt.ToShortDateString()</span>
                            <span>
                                <a asp-action="Editdoctor" asp-controller="admin" asp-route-id="@item.Id" class="edit">
                                    <i class="f-icon fa-solid fa-pencil"></i>
                                    <!-- edit -->
                                </a>
                                <a class="seeMore">
                                    <i class="f-icon fa-solid fa-eye"></i>
                                    <!-- see more -->
                                </a>
                                <a  asp-action="deletedoctor" asp-controller="admin" asp-route-id="@item.Id">
                                    <i class="f-icon fa-solid fa-trash-can"></i>
                                    <!-- remove -->
                                </a>
                            </span>
                        </div>
                        num += 1;
                        <!-- End Item -->
                    }

                 </div>
            </div>
        </article>
    </div>
</div>
</section>
<div class="pop-up">
    <div class="overlay"></div>
    <div class="data">
        <button class="cancel" id="cancel">
            <i class="f-icon fa-solid fa-xmark"></i>
            <!-- <i class="f-icon fa-solid fa-arrow-left"></i> -->
            <!-- <i class="fa-solid fa-left-long"></i> -->
            <!-- <i class="fa-solid fa-chevron-left"></i> -->
        </button>
        <div class="felids">
            <!-- start box -->
            <article class="box">
                <div class="field">
                    <div class="left-sec">
                        <!-- start box -->
                        <article class="box">
                            <label for="field">name:</label>
                            <div class="field" id="field">
                                <span id="nameField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">specialty:</label>
                            <div class="field" id="field">
                                <span id="specialtyField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">location:</label>
                            <div class="field" id="field">
                                <span id="locationField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">e-mail:</label>
                            <div class="field" id="field">
                                <span id="mailField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">phone number:</label>
                            <div class="field" id="field">
                                <span id="phoneField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                    </div>
                    <div class="right-sec">
                        <label for="field">Image:</label>
                        <div class="image" id="field">
                            <img id="imgSrcField" />
                        </div>
                    </div>
                </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
                <label for="field">doctor info:</label>
                <div class="field" id="field">
                    <span class="info" id="infoField">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                        fugit enim nostrum consequuntur soluta. Laudantium sed
                        doloremque aperiam animi nesciunt dolores facilis rem minima
                        temporibus, voluptate expedita tempore earum! Blanditiis!
                    </span>
                </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
                <label for="field">doctor social media:</label>
                <div class="field" id="field">
                    <!-- start box -->
                    <article class="box">
                        <label for="field">facebook:</label>
                        <div class="field" id="field">
                            <span id="facebookLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">instagram:</label>
                        <div class="field" id="field">
                            <span id="instagramLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">twitter:</label>
                        <div class="field" id="field">
                            <span id="twitterLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">mail address:</label>
                        <div class="field" id="field">
                            <span id="mailLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">Whatsapp:</label>
                        <div class="field" id="field">
                            <span id="WhatsappLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">phone number:</label>
                        <div class="field" id="field">
                            <span id="phoneLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                </div>
            </article>
            <!-- end box -->
        </div>
    </div>
</div>
<script src="~/Themes/JS Files/doctors-dash.js"></script>
