@model IEnumerable<Hospital>
@{
    ViewData["Title"] = "Hospital";
    Layout = "dashboard";
    int num = 1;
}
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/dashboard_control (1).css" />
}
<section class="content">
<div class="hospitals">
    <div class="sec-head">
        <h2>hospitals</h2>
    </div>
    <div class="sec-body">
        <article class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-action="Hospital" asp-controller="Admin">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of item</h3>
                <span>@Model.Count()</span>
            </div>
        </article>
        <article class="control">
            <div class="table">
                <div class="tab-head">
                    <span>no.</span>
                    <span>name</span>
                    <span>Data</span>
                    <span>actions</span>
                </div>
                <div class="tab-body">
                    
                    @foreach (var item in Model)
                   {
                        <!-- Start Item -->
                        <div class="item">
                                <div class="hidden">
                                    <span id="name">@item.Name</span>
                                    <span id="location">@item.Address</span>
                                    <span id="mail">@item.Email</span>
                                    <span id="phoneNumber">@item.MobileNumber</span>
                                    <span id="imgSrc">
                                       ~/Themes/Data/Images/contact-background-image.jpg
                                    </span>
                                      
                                    <span id="info">
                                       @item.MoreInformation
                                    </span>
                                    <span id="facebookLink">hospital facebook link2</span>
                                    <span id="twitterLink">hospital twitter link2</span>
                                    <span id="mailLink">hospital mail address link2</span>
                                    <span id="whatsappLink">hospital whatsapp link2</span>
                                    <span id="phoneNumberLink">
                                       @item.Image
                                    </span>
                                </div>
                            <span>@num</span>
                            <span>@item.Name</span>
                            <span>@item.CreatedAt.ToShortDateString()</span>
                            <span>
                                <a asp-action="EditHospital" asp-controller="Admin" asp-route-id="@item.Id" class="edit">
                                    <i class="f-icon fa-solid fa-pencil"></i>
                                    <!-- edit -->
                                </a>
                                <a class="seeMore" >
                                    <i class="f-icon fa-solid fa-eye"></i>
                                    <!-- see more -->
                                </a>
                                <a asp-action="deletehospital" asp-controller="admin" asp-route-id="@item.Id">
                                    <i class="f-icon fa-solid fa-trash-can"></i>
                                    <!-- remove -->
                                </a>
                            </span>
                        </div>
                            num += 1;
                        <!-- End Item -->
                            <div class="pop-up">
                                <div class="overlay"></div>
                                <div class="data">
                                    <button class="cancel" id="cancel">
                                        <i class="f-icon fa-solid fa-xmark"></i>
                                        <!-- <i class="f-icon fa-solid fa-arrow-left"></i> -->
                                        <!-- <i class="fa-solid fa-left-long"></i> -->
                                        <!-- <i class="fa-solid fa-chevron-left"></i> -->
                                    </button>
                                    <div class="felids">
                                        <!-- start box -->
                                        <article class="box">
                                            <div class="field">
                                                <div class="left-sec">
                                                    <!-- start box -->
                                                    <article class="box">
                                                        <label for="field">name:</label>
                                                        <div class="field" id="field">
                                                            <span>@item.Name</span>
                                                        </div>
                                                    </article>
                                                    <!-- end box -->
                                                    <!-- start box -->
                                                    <article class="box">
                                                        <label for="field">location:</label>
                                                        <div class="field" id="field">
                                                            <span>hospital location</span>
                                                        </div>
                                                    </article>
                                                    <!-- end box -->
                                                    <!-- start box -->
                                                    <article class="box">
                                                        <label for="field">e-mail:</label>
                                                        <div class="field" id="field">
                                                            <span>hospital mail address</span>
                                                        </div>
                                                    </article>
                                                    <!-- end box -->
                                                    <!-- start box -->
                                                    <article class="box">
                                                        <label for="field">phone number:</label>
                                                        <div class="field" id="field">
                                                            <span>hospital phone number</span>
                                                        </div>
                                                    </article>
                                                    <!-- end box -->
                                                </div>
                                                <div class="right-sec">
                                                    <label for="field">Image:</label>
                                                    <div class="image" id="field">
                                                        <img src="../../Data/Images/IMG_20221204_221443_587.jpg"
                                                         alt="article-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <!-- end box -->
                                        <!-- start box -->
                                        <article class="box">
                                            <label for="field">hospital info:</label>
                                            <div class="field" id="field">
                                                <span class="article-body">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                                                    fugit enim nostrum consequuntur soluta. Laudantium sed
                                                    doloremque aperiam animi nesciunt dolores facilis rem minima
                                                    temporibus, voluptate expedita tempore earum! Blanditiis!
                                                </span>
                                            </div>
                                        </article>
                                        <!-- end box -->
                                        <!-- start box -->
                                        <article class="box">
                                            <label for="field">hospital social media:</label>
                                            <div class="field" id="field">
                                                <!-- start box -->
                                                <article class="box">
                                                    <label for="field">facebook:</label>
                                                    <div class="field" id="field">
                                                        <span>facebook link</span>
                                                    </div>
                                                </article>
                                                <!-- end box -->
                                                <!-- start box -->
                                                <article class="box">
                                                    <label for="field">twitter:</label>
                                                    <div class="field" id="field">
                                                        <span>twitter link</span>
                                                    </div>
                                                </article>
                                                <!-- end box -->
                                                <!-- start box -->
                                                <article class="box">
                                                    <label for="field">mail address:</label>
                                                    <div class="field" id="field">
                                                        <span>mail address link</span>
                                                    </div>
                                                </article>
                                                <!-- end box -->
                                                <!-- start box -->
                                                <article class="box">
                                                    <label for="field">Whatsapp:</label>
                                                    <div class="field" id="field">
                                                        <span>Whatsapp link</span>
                                                    </div>
                                                </article>
                                                <!-- end box -->
                                                <!-- start box -->
                                                <article class="box">
                                                    <label for="field">phone number:</label>
                                                    <div class="field" id="field">
                                                        <span>phone number link</span>
                                                    </div>
                                                </article>
                                                <!-- end box -->
                                            </div>
                                        </article>
                                        <!-- end box -->
                                    </div>
                                </div>
                          </div>
                    }

                </div>
            </div>
        </article>
    </div>
</div>
</section>
<div class="pop-up">
    <div class="overlay"></div>
    <div class="data">
        <button class="cancel" id="cancel">
            <i class="f-icon fa-solid fa-xmark"></i>
            <!-- <i class="f-icon fa-solid fa-arrow-left"></i> -->
            <!-- <i class="fa-solid fa-left-long"></i> -->
            <!-- <i class="fa-solid fa-chevron-left"></i> -->
        </button>
        <div class="felids">
            <!-- start box -->
            <article class="box">
                <div class="field">
                    <div class="left-sec">
                        <!-- start box -->
                        <article class="box">
                            <label for="field">name:</label>
                            <div class="field" id="field">
                                <span id="nameField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">location:</label>
                            <div class="field" id="field">
                                <span id="locationField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">e-mail:</label>
                            <div class="field" id="field">
                                <span id="mailField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">phone number:</label>
                            <div class="field" id="field">
                                <span id="phoneField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                    </div>
                    <div class="right-sec">
                        <label for="field">image:</label>
                        <div class="image" id="field">
                            <img id="imgSrcField" />
                        </div>
                    </div>
                </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
                <label for="field">hospital info:</label>
                <div class="field" id="field">
                    <span class="info" id="infoField"></span>
                </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
                <label for="field">hospital social media:</label>
                <div class="field" id="field">
                    <!-- start box -->
                    <article class="box">
                        <label for="field">facebook:</label>
                        <div class="field" id="field">
                            <span id="facebookLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">twitter:</label>
                        <div class="field" id="field">
                            <span id="twitterLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">mail address:</label>
                        <div class="field" id="field">
                            <span id="mailLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">Whatsapp:</label>
                        <div class="field" id="field">
                            <span id="WhatsappLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                    <!-- start box -->
                    <article class="box">
                        <label for="field">phone number:</label>
                        <div class="field" id="field">
                            <span id="phoneLinkField"></span>
                        </div>
                    </article>
                    <!-- end box -->
                </div>
            </article>
            <!-- end box -->
        </div>
    </div>
</div>
@section Script{
    <script src="~/Themes/JS Files/pharmacies-dash.js">
    </script>
}