
@{
    ViewData["Title"] = "Index";
    Layout = "dashboard";
}
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/dashboard (4).css" />

}
<section class="content">
<div class="dashboard" >
    <article class="doctors">
        <div class="head">
            <h2>doctors</h2>
        </div>
        <div class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-controller="Admin" asp-action="Doctor">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of item</h3>
                <span>@ViewBag.Doctor</span>
            </div>
        </div>
    </article>
    <article class="hospitals">
        <div class="head">
            <h2>hospitals</h2>
        </div>
        <div class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-controller="Admin" asp-action="Hospital">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of item</h3>
                <span>@ViewBag.Hospital</span>
            </div>
        </div>
    </article>
    <article class="pharmacies">
        <div class="head">
            <h2>pharmacies</h2>
        </div>
        <div class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-controller="Admin" asp-action="Pharmacy">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of item</h3>
                <span>@ViewBag.Pharmacy </span>
            </div>
        </div>
    </article>
    <article class="blog">
        <div class="head">
            <h2>blog</h2>
        </div>
        <div class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-controller="Admin" asp-action="Blog">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of item</h3>
                <span>@ViewBag.Blog</span>
            </div>
        </div>
    </article>
    <article class="charities">
        <div class="head">
            <h2>charities</h2>
        </div>
        <div class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-controller="Admin" asp-action="Charity">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of item</h3>
                <span>@ViewBag.Charities</span>
            </div>
        </div>
    </article>
</div>
</section>