@model Charities
@{
}
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Themes/CSS Files/charity.css" />
}

<!-- Start Content -->
<div class="container">
    <!-- <section class="left"></section> -->
    <a href="~/Themes/index.html" class="back-btn" id="cancel">
        <i class="f-icon fa-solid fa-arrow-left"></i>
        <!-- <i class="fa-solid fa-left-long"></i> -->
        <!-- <i class="fa-solid fa-chevron-left"></i> -->
    </a>
    <h1>charity name</h1>
    <section class="content">
        <div class="upper-sec">
            <article class="description">
                <h1>@Model.Name</h1>
                <p class="article-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore incidunt quos provident, id error aspernaturnam cupiditate ipsam amet, doloribus commodi dicta corporis eligendi, saepe iusto in! Rerum, molestias enim.Lorem ipsum dolor sit, amet consectetur  adipisicing elit. Tempore incidunt quos provident, id error aspernatur nam cupiditate ipsam amet, doloribus commodi dicta corporis eligendi, saepe iusto in! Rerum, molestias enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore incidunt quos provident, id error aspernatur nam cupiditate ipsam amet, doloribus commodi dicta corporis eligendi, saepe iusto in! Rerum, molestias enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore incidunt quos provident, id error aspernatur nam cupiditate ipsam amet, doloribus commodi dicta corporis eligendi, saepe iusto in! Rerum, molestias enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore incidunt quos provident, id error aspernatur nam cupiditate ipsam amet, doloribus commodi dicta corporis eligendi, saepe iusto in! Rerum, molestias enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore incidunt quos provident, id error aspernatur nam cupiditate ipsam amet, doloribus commodi dicta corporis eligendi, saepe iusto in! Rerum, molestias enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore incidunt quos provident, id error aspernatur nam cupiditate ipsam amet, doloribus commodi dicta corporis eligendi, saepe iusto in! Rerum, molestias enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore incidunt quos provident, id error aspernatur nam cupiditate ipsam amet, doloribus commodi dicta corporis eligendi, saepe iusto in! Rerum, molestias enim.
                </p>
            </article>
            <article class="data">
                <div class="image">
                    <img src="@Model.Image"
                         alt="charity-image" />
                </div>
                <div class="social-icon">
                    <h2>contact links</h2>
                    <div>
                        <div title="Facebook Page">
                            <a href="https://www.facebook.com/">
                                <i class="f-icon fa-brands fa-facebook-f"></i>
                            </a>
                        </div>
                        <div title="Instagram Page">
                            <a href="https://www.instagram.com/">
                                <i class="f-icon fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        <div title="Twitter Account">
                            <a href="https://www.twitter.com/">
                                <i class="f-icon fa-brands fa-twitter"></i>
                            </a>
                        </div>
                        <div title="Mail">
                            <a href="mailto:@@mohagmail@@gmail.com">
                                <i class="f-icon fa-solid fa-envelope"></i>
                            </a>
                        </div>
                        <div title="Whatsapp">
                            <a href="https://wa.me/552196312XXXX">
                                <i class="f-icon fa-brands fa-whatsapp"></i>
                            </a>
                        </div>
                        <div title="Phone Number">
                            <a href="tel:+18475555555">
                                <i class="f-icon fa-solid fa-phone"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <h2>contact info</h2>
                    <div class="box">
                        <div class="icon-div">
                            <i class="f-icon fa-solid fa-location-dot"></i>
                        </div>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                            molestiae vitae nam.
                        </span>
                    </div>
                    <div class="box">
                        <div class="icon-div">
                            <i class="f-icon fa-solid fa-envelope"></i>
                        </div>
                        <span class="mail">@Model.Email</span>
                    </div>
                    <div class="box">
                        <div class="icon-div">
                            <i class="f-icon fa-solid fa-phone"></i>
                        </div>
                        <span>@Model.MobileNumber</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="events">
            <div class="head">
                <h2>other images from this charity</h2>
            </div>
            <div class="body">
                <div class="image">
                    <img src="~/Themes/Data/Images/IMG_20221204_221415_253.jpg"
                         alt="charity-image" />
                </div>
                <div class="image">
                    <img src="~/Themes/Data/Images/radiation-places-image-4.jpg"
                         alt="charity-image" />
                </div>
                <div class="image">
                    <img src="~/Themes/Data/Images/IMG_20221204_221443_145.jpg"
                         alt="charity-image" />
                </div>
                <div class="image">
                    <img src="~/Themes/Data/Images/radiation-places-image-4.jpg"
                         alt="charity-image" />
                </div>
                <div class="image">
                    <img src="~/Themes/Data/Images/IMG_20221204_221443_145.jpg"
                         alt="charity-image" />
                </div>
                <div class="image">
                    <img src="~/Themes/Data/Images/radiation-places-image-4.jpg"
                         alt="charity-image" />
                </div>
            </div>
        </div>
        <div class="other">
            <div class="head">
                <h2>more charities</h2>
            </div>
            <div class="other-slider swiper">
                <div class="slider-container cont">
                    <div class="slides swiper-wrapper">

                        @foreach (var item in ViewBag.Charity)
                        {
                            <div class="slide swiper-slide">
                                <div class="slide-image">
                                    <img src="@item.Image"
                                     alt="charity-image" />
                                </div>
                                <div class="slide-body">
                                    <h3>@item.Name</h3>
                                    <p>
                                        A charity is a group designed to benefit society or a specific group of people in the areas of education and humanitarian aid.
                                        Charity work goes beyond giving relief to the poor, extending to the promotion of happiness and the support of many worthy causes.
                                    </p>
                                </div>
                                <div class="slide-foot">
                                    <a href="#">
                                        <span>read more</span>
                                        <i class="f-icon fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div> 
                        }

                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
</div>
<!-- End Content -->
<script src="~/Themes/JS Files/swiper-bundle.min.js"></script>
<script src="~/Themes/JS Files/charity.js"></script>
