@model ApplicationUser
@{
    Layout = "PharmacyAction";
}
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/view_profile (1).css" />
}
<!-- start content section -->
<section class="content">
    <div class="top-sec">
        <div class="image">
            <img src="~/Themes/Data/Images/pharmacy-image.jpg"
                 alt="pharmacy-profile-image" />
        </div>
        <div class="text">
            <h2>account name</h2>
            <span>@Model.UserName</span>
        </div>
        <div class="edit-btn">
            <a asp-action="edit" asp-controller="PharmacyAction">
                <i class="f-icon fa-solid fa-pen"></i>
                <span>edit profile</span>
            </a>
        </div>
    </div>
    <div class="bottom-sec">
        <!-- start box -->
        <article class="box">
            <label for="field">pharmacy name:</label>
            <div class="field" id="field">
                <span>@Model.FirstName</span>
            </div>
        </article>
        <!-- end box -->
        <!-- start box -->
        <article class="box">
            <label for="field">e-mail:</label>
            <div class="field" id="field">
                <span style="text-transform:initial">@Model.Email</span>
            </div>
        </article>
        <!-- end box -->
        <!-- start box -->
        <article class="box">
            <label for="field">bio:</label>
            <div class="field" id="field">
                <span>
                    Pharmacy
                </span>
            </div>
        </article>
        <!-- end box -->
        <!-- start box -->
        <article class="box">
            <label for="field">phone number:</label>
            <div class="field" id="field">
                <span>@Model.PhoneNumber</span>
            </div>
        </article>
        <!-- end box -->
        <!-- start box -->
        <article class="box">
            <label for="field">address:</label>
            <div class="field" id="field">
                <span>@Model.Address</span>
            </div>
        </article>
        <!-- end box -->
        <!-- start box -->
        <article class="box">
            <div class="field">
                <div class="flex-sec">
                    <label for="field">facebook:</label>
                    <div class="field" id="field">
                        <span>username</span>
                    </div>
                </div>
                <div class="flex-sec">
                    <label for="field">twitter:</label>
                    <div class="field" id="field">
                        <span>username</span>
                    </div>
                </div>
                <div class="flex-sec">
                    <label for="field">Whatsapp:</label>
                    <div class="field" id="field">
                        <span>number</span>
                    </div>
                </div>
                <div class="flex-sec">
                    <label for="field">phone number:</label>
                    <div class="field" id="field">
                        <span>number</span>
                    </div>
                </div>
            </div>
        </article>
        <!-- end box -->
    </div>
</section>
<!-- end content section -->

