@model List<Drugs>
@{
    Layout = "PharmacyAction";
    int num = 1;
}
@section Style{
    <!-- main css file -->

    <link rel="stylesheet" href="~/themes/css Files/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/themes/css Files/sweet_alert.css" />
    <link rel="stylesheet" href="~/themes/css Files/profile_medicines.css" />

}

<!-- start content section -->
<section class="content">
    <!-- <h2>manage medicines</h2> -->
    <div class="sec-body" style="padding:20px;border-radius: 5px;overflow: hidden">
        <article class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-action="addmedicines" asp-controller="pharmacyaction">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of Drugs</h3>
                <span>@Model.Count()</span>
            </div>
        </article>
        <article class="control">
            <div class="table">
                <div class="tab-head">
                    <span>no.</span>
                    <span>name</span>
                    <span>date</span>
                    <span>actions</span>
                </div>
                <div class="tab-body">
                     @foreach(var item in Model)
                     {
                       <!-- Start Item -->
                      <div class="item">
                        <div class="hidden">
                            <span id="name">@item.Name</span>
                            <span id="category">@item.TypeOfCancer</span>
                            <span id="quantity">medicine quantity1</span>
                            <span id="imgSrc">
                               @item.Image
                            </span>
                        </div>
                            <span>@num</span>
                            <span>@item.Name</span>
                            <span>@item.CreatedAt.ToShortDateString()</span>
                            <span>
                                <a asp-action="editmedicine" asp-controller="pharmacyaction" asp-route-id="@item.Id"
                               class="edit">
                                    <i class="f-icon fa-solid fa-pencil"></i>
                                    <!-- edit -->
                                </a>
                                <a class="seeMore">
                                    <i class="f-icon fa-solid fa-eye"></i>
                                    <!-- see more -->
                                </a>
                                <a asp-action="deletemedicine" asp-controller="pharmacyaction" asp-route-id="@item.Id">
                                    <i class="f-icon fa-solid fa-trash-can"></i>
                                    <!-- remove -->
                                </a>
                            </span>
                         
                        </div>
                        num += 1;
                    }
                </div>
            </div>
        </article>
    </div>
</section>
<div class="pop-up">
    <div class="overlay"></div>
    <div class="data">
        <button class="cancel" id="cancel">
            <i class="f-icon fa-solid fa-xmark"></i>
            <!-- <i class="f-icon fa-solid fa-arrow-left"></i> -->
            <!-- <i class="fa-solid fa-left-long"></i> -->
            <!-- <i class="fa-solid fa-chevron-left"></i> -->
        </button>
        <div class="felids">
            <!-- start box -->
            <article class="box">
                <div class="field">
                    <div class="left-sec">
                        <!-- start box -->
                        <article class="box">
                            <label for="field">name:</label>
                            <div class="field" id="field">
                                <span id="nameField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">category:</label>
                            <div class="field" id="field">
                                <span id="categoryField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                        <!-- start box -->
                        <article class="box">
                            <label for="field">quantity:</label>
                            <div class="field" id="field">
                                <span id="quantityField"></span>
                            </div>
                        </article>
                        <!-- end box -->
                    </div>
                    <div class="right-sec">
                        <label for="field">medicine image:</label>
                        <div class="image" id="field">
                            <img id="imgSrcField" />
                        </div>
                    </div>
                </div>
            </article>
            <!-- end box -->
        </div>
    </div>
</div>
<script src="~/Themes/JS Files/sweetalert2.all.min.js"></script>
<script src="~/Themes/JS Files/profile_medicine.js"></script>
<!-- end content section -->