@using DomainLayer.Models;
@model Awareness
@{
    ViewData["Title"] = "Article";
}

@section Style{
    <link href="~/Themes/CSS Files/article (2).css" rel="stylesheet" />
  }
<div class="container">
    <section class="article">
        <button class="back-btn" id="cancel">
            <i class="f-icon fa-solid fa-arrow-left"></i>
            <!-- <i class="fa-solid fa-left-long"></i> -->
            <!-- <i class="fa-solid fa-chevron-left"></i> -->
        </button>
        <article>
            <h1>@Model.Title</h1>
            <div class="image">
                <img src="~/Themes/Data/Images/breast-cancer.png"
                     alt="article-image" />
            </div>
            <span class="info">
                written by <span>@Model.Author</span>, on <span>@Model.PublishedDate</span>
            </span>
            <pre class="article-body">
                @Model.Data
            </pre>
            <div class="video">
                <span id="videoLink" style="display:none">@Model.Videos</span>
                <iframe id="iframe"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
            <div class="statistics">
                <button class="left" id="likedBtn">
                    <i class="f-icon fa-regular fa-thumbs-up"></i>
                    <i class="f-icon fa-solid fa-thumbs-up"></i>
                    <span id="likedNum">0</span>
                </button>
                <button class="right active" id="savedBtn">
                    <i class="f-icon fa-regular fa-bookmark"></i>
                    <i class="f-icon fa-solid fa-bookmark"></i>
                    <span id="savedNum">1</span>
                </button>
            </div>
        </article>
        <div class="other">
            <div class="head">
                <h2>more articles</h2>
            </div>
            <div class="other-slider swiper">
                <div class="slider-container cont">
                    <div class="slides swiper-wrapper">
                        
                        @foreach (var item in ViewBag.Blog)
                        {
                            <div class="slide swiper-slide">
                                <div class="image">
                                    <img src="@item.Image"
                                     alt="article-image" />
                                </div>
                                <div class="text">
                                    <a href="#">
                                        <h3>@item.Title</h3>
                                    </a>
                                    <p>
                                        @item.Data
                                    </p>
                                    <div class="info">
                                        <span>@item.Author </span>
                                        <span class="input" id="input">john doe</span>
                                    </div>
                                </div>
                            </div>
                        }
                       

                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
</div>
<script src="~/Themes/JS Files/swiper-bundle.min.js"> </script>
<script src="~/Themes/JS Files/article.js"> </script>
<script src="~/Themes/JS Files/charity.js"> </script>

<script>
    function embedLink(url) {
        const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
        const match = url.match(regExp);
        return match && match[2].length === 11
            ? `https://www.youtube.com/embed/${match[2]}`: null;
    }
    let videoLink = document.getElementById("videoLink");
    let videoIframe = document.getElementById("iframe");
    let newLink = embedLink(videoLink.innerText);

    videoIframe.setAttribute("src", newLink);
</script>



