@{
    ViewData["Title"] = "Home";
}

@section Style{
    <!-- main css file -->
    <link rel="stylesheet" href="~/themes/css Files/master.css" />
}

<partial name="_StaticElement" />

<!-- Start Doctors -->
<section class="section doctors" id="doctors">
        <div class="container">
          <div class="sec-head">
            <h2>doctors</h2>
            <p>
                Specialized doctors in the treatment of cancer are the individuals who possess the necessary experience
                and skills to diagnose the disease and determine the best treatment options for patients affected by it.
                Doctors who treat cancer vary in their specialties, some specialize in treating specific types of cancer
                such as breast or lung cancer, while others treat cancer in general
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
          <div class="sec-body">
            @foreach (var item in ViewBag.Doctor)
            { 
               <article class="box">
              <img src="~/themes/Data/Images/doctor-image-7.jpg" alt="doctor-image" />
              <div class="info">
                <h5>@item.Name</h5>
                  <p>@item.Specialty</p>
                <div class="contact">
                  <div>
                    <a href="https://www.facebook.com/">
                      <i class="fa-brands fa-facebook-f"></i>
                    </a>
                  </div>
                  <div>
                    <a href="https://www.twitter.com/">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </div>
                  <div>
                    <a href="https://maps.google.com/">
                      <i class="fa-solid fa-location-dot"></i>
                    </a>
                  </div>
                  <div>
                    <a href="https://wa.me/552196312XXXX">
                      <i class="fa-brands fa-whatsapp"></i>
                    </a>
                  </div>
                  <div>
                    <a href="tel:+18475555555">
                      <i class="fa-solid fa-phone"></i>
                    </a>
                  </div>
                </div>
              </div>
            </article>
           }
            <!-- End Box -->
         
            
          </div>
          <div class="sec-foot">
            <a asp-action="index" asp-controller="doctor">see more</a>
          </div>
        </div>
      </section>
<!-- End Doctors -->
<!-- Start Medicine -->
<section class="section medicine" id="medicine">
        <div class="container">
          <div class="sec-head">
            <h2>medicines</h2>
            <p>
                Medications are chemical substances used to treat various diseases and medical conditions.
                Medications come in different forms, including tablets, capsules, injections, and more.
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
          <div class="sec-body">
           @* @foreach (var item in ViewBag.Medicine )
            {*@
               <!-- start box -->
            <article class="box">
              <div class="image">
                <img
                  class="card-img-top"
                  src="~/Themes/Data/Images/Afinitor-image.jpeg"
                />
              </div>
              <div class="card-body">
                <div class="med-details card-text text-center">
                  <h5>afinitor</h5>
                  <span>breast cancer</span>
                </div>
                <div class="pharmacies-name">
                  <a class="btn btn-primary" href="../HTML Files/pharmacy.html"
                    >elezaby</a
                  >
                </div>
              </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
              <div class="image">
                <img
                  class="card-img-top"
                         src="~/Themes/Data/Images/abemaciclib-image.webp" />
              </div>
              <div class="card-body">
                <div class="med-details card-text text-center">
                  <h5>abemaciclib</h5>
                  <span>breast cancer</span>
                </div>
                <div class="pharmacies-name">
                  <a class="btn btn-primary" href="../HTML Files/pharmacy.html">care</a>
                  <a class="btn btn-primary" href="../HTML Files/pharmacy.html">allam</a>
                </div>
              </div>
            </article>
            <!-- end box -->
            <!-- start box -->
            <article class="box">
              <div class="image">
                <img
                  class="card-img-top"
                         src="~/Themes/Data/Images/abraxane-image.jpg" />
              </div>
              <div class="card-body">
                <div class="med-details card-text text-center">
                  <h5>abraxane</h5>
                  <span>breast cancer</span>
                </div>
                <div class="pharmacies-name">
                  <a class="btn btn-primary" href="../HTML Files/pharmacy.html">elezaby</a>
                  <a class="btn btn-primary" href="../HTML Files/pharmacy.html">care</a>
                  <a class="btn btn-primary" href="../HTML Files/pharmacy.html">allam</a>
                    </div>
              </div>
            </article>
            <!-- end box -->
               
            
            
           
          </div>
          <div class="sec-foot">
            <a asp-action="index" asp-controller="medicine"> see more</a>
          </div>
        </div>
      </section>
<!-- End Medicine -->
<!-- Start Hospitals -->
<section class="section hospitals" id="hospitals">
        <div class="container">
          <div class="sec-head">
            <h2>hospitals</h2>
            <p>
                There are many specialized hospitals around the world for cancer treatment, which are characterized by 
                providing specialized and comprehensive medical services for cancer patients, including diagnosis, 
                treatment, and necessary care.
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
          <div class="sec-body">
            <div class="text">
              <h2>Cancer Hospitals</h2>
              <p>
                These hospitals include many modern techniques used in cancer treatment, such as radiation therapy, chemotherapy, molecular therapy, hormonal therapy, immunology therapy, and others. Cancer specialized hospitals also provide specialized medical teams including doctors, nurses, specialists in psychological treatment, nutrition, and medical rehabilitation. 
 
                  These hospitals aim to provide personalized and specialized care for each patient, and to provide the necessary comfort and support for them and their families during the treatment period. These hospitals work to encourage scientific research and technological development in the field of cancer treatment, and to provide the necessary support for patients and their families in all aspects of the treatment journey.
 
              </p>
              <a asp-action="index" asp-controller="Hospitals">see more</a>
            </div>
            <div class="image"></div>
          </div>
        </div>
      </section>
<!-- End Hospitals -->
<!-- Start Pharmacies -->
<section class="section pharmacies" id="pharmacies">
        <div class="container">
          <div class="sec-head">
            <h2>pharmacies</h2>
            <p>
                Pharmacies Are Retail Stores That Sell Medicines, Pharmaceutical Products, And Other Medical Products To The Public.
                Pharmacies Are Considered Important Centers For Healthcare In Society, Where People Can Obtain The Medicines, 
                Pharmaceutical Products, And Other Health Products They Need To Improve Their Health And Treat Illnesses
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
          <div class="sec-body" id="pharmacy-body">
            @foreach (var item in ViewBag.Pharmacy)
            {
                <!-- start box -->
                <article class="box">
                    <div class="avatar">
                        <img src="~/Themes/Data/Images/pharmacy-image.jpg"
                         alt="pharmacy-image" />
                    </div>
                    <div class="data">
                        <section class="head">
                            <a asp-action="details" asp-controller="pharmacies"> @item.Name</a>
                            <span></span>
                            <p>

                            </p>
                        </section>
                        <section class="info">
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-location-dot"></i>
                                </div>
                                <span>@item.Address</span>
                            </div>
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-phone"></i>
                                </div>
                                <span>@item.MobileNumber</span>
                            </div>
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-envelope"></i>
                                </div>
                                <span class="mail">@item.Email</span>
                            </div>
                        </section>
                        <section class="contact">
                            <div>
                                <a href="https://www.facebook.com/">
                                    <i class="f-icon fa-brands fa-facebook-f"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.twitter.com/">
                                    <i class="f-icon fa-brands fa-twitter"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://maps.google.com/">
                                    <i class="f-icon fa-solid fa-location-dot"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://wa.me/552196312XXXX">
                                    <i class="f-icon fa-brands fa-whatsapp"></i>
                                </a>
                            </div>
                            <div>
                                <a href="tel:+18475555555">
                                    <i class="f-icon fa-solid fa-phone"></i>
                                </a>
                            </div>
                        </section>
                    </div>
                </article>
                <!-- end box -->
                
            }
           
            
          
          </div>
          <div class="sec-foot">
            <a href="./HTML Files/pharmacies.html">see more</a>
          </div>
        </div>
      </section>
<!-- End Pharmacies -->
<!-- Start Blog -->
<section class="section blog" id="blog">
        <div class="container">
          <div class="sec-head">
            <h2>our blog</h2>
            <p>
              Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Modi
              Illum, Eius Earum Rem Consequatur Minima? Illum, Laudantium
              Officia! Nihil, Id.
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
          <div class="sec-body" id="blog-body">
            @foreach (var item in ViewBag.Blog)
            {
                <article class="box">
                    <div class="image">
                        <img src="@item.Image"
                         alt="article-image" />
                    </div>
                    <div class="text">
                        <a asp-action="details" asp-controller="blogs" asp-route-id="@item.Id">
                            <h3>@item.Title</h3>
                        </a>
                        <p>
                            @item.Data
                        </p>
                        <div class="info">
                            <span>author: </span>
                            <span class="input" id="input">@item.Author</span>
                        </div>
                    </div>
                </article>
            }
            
          </div>
          <div class="sec-foot">
            <a href="./HTML Files/blog.html">see more</a>
          </div>
        </div>
      </section>
<!-- End Blog -->
<!-- Start Charities -->
<section class="section charities" id="charities">
        <div class="container">
          <div class="sec-head">
            <h2>charities</h2>
            <p>
                A charity is a group designed to benefit society or a specific group of people in the areas of education and humanitarian aid.
                Charity work goes beyond giving relief to the poor, extending to the promotion of happiness and the support of many worthy causes.
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
          <div class="sec-body">
            <div class="slider swiper">
              <div class="slider-container">
                <div class="slides swiper-wrapper">

                        @foreach (var item in ViewBag.Charity)
                        {
                            <div class="slide swiper-slide">
                                <div class="slide-image">
                                    <img src="@item.Image"
                                     alt="charity-image" />
                                </div>
                                <div class="slide-body">
                                    <h3>@item.Name</h3>
                                    <p>
                                        A charity is a group designed to benefit society or a specific group of people in the areas of education and humanitarian aid.
                                        Charity work goes beyond giving relief to the poor, extending to the promotion of happiness and the support of many worthy causes.
                                    </p>
                                </div>
                                <div class="slide-foot">
                                    <a asp-action="index" asp-controller="Charity" asp-route-id="@item.Id">
                                        <span>read more</span>
                                        <i class="f-icon fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
              </div>
              <div class="swiper-button-next swiper-navBtn"></div>
              <div class="swiper-button-prev swiper-navBtn"></div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </section>
<!-- End Charities -->
<!-- Start Contact -->
<section class="section contacts" id="contacts">
        <div class="container">
          <div class="sec-head">
            <h2>contact us</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
              consequatur ullam excepturi dolores repellat, minus assumenda
              exercitationem.
            </p>
            <div class="head-shape-w">
              <span></span>
            </div>
          </div>
          <div class="sec-body">
            <div class="sec-left">
              <div class="contact-info">
                <h2>contact info</h2>
                <div class="box">
                  <div class="icon-div">
                    <i class="f-icon fa-solid fa-location-dot"></i>
                  </div>
                  <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                    molestiae vitae nam.
                  </span>
                </div>
                <div class="box">
                  <div class="icon-div">
                    <i class="f-icon fa-solid fa-envelope"></i>
                  </div>
                  <span class="mail">monsfd@gmail.com</span>
                </div>
                <div class="box">
                  <div class="icon-div">
                    <i class="f-icon fa-solid fa-phone"></i>
                  </div>
                  <span>+12353245</span>
                </div>
              </div>
              <div class="social-icon">
                <h2>contact links</h2>
                <div>
                  <div title="Facebook Page">
                    <a href="https://www.facebook.com/">
                      <i class="f-icon fa-brands fa-facebook-f"></i>
                    </a>
                  </div>
                  <div title="Instagram Page">
                    <a href="https://www.instagram.com/">
                      <i class="f-icon fa-brands fa-instagram"></i>
                    </a>
                  </div>
                  <div title="Twitter Account">
                    <a href="https://www.twitter.com/">
                      <i class="f-icon fa-brands fa-twitter"></i>
                    </a>
                  </div>
                  <div title="Mail">
                    <a href="mailto: mohagmail@gmail.com">
                      <i class="f-icon fa-solid fa-envelope"></i>
                    </a>
                  </div>
                  <div title="Whatsapp">
                    <a href="https://wa.me/552196312XXXX">
                      <i class="f-icon fa-brands fa-whatsapp"></i>
                    </a>
                  </div>
                  <div title="Phone Number">
                    <a href="tel:+18475555555">
                      <i class="f-icon fa-solid fa-phone"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="sec-right">
              <h2>leave a message</h2>
              <form action="">
                <textarea name="message" placeholder="message"></textarea>
                <input type="submit" value="send" />
              </form>
            </div>
          </div>
        </div>
      </section>
<!-- End Contact-->

    @section Scripts{
            <!-- main page only script -->
        <script src="~/themes/js Files/main-page-only.js"></script>
}